h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.decoder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
}

textarea {
    resize: none;
    height: 15vh;
    width: 30vh;
    min-height: 60px;
    min-width: 170px;
}

.codedText {
    width: 35%;
    height: 25vh;
    min-height: 125px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.decodedText {
    width: 35%;
    height: 25vh;
    min-height: 125px;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.decoder > div {
    margin: 20px;
}